
    {{ partial "header.html" . }}
    
    <!-- banner start-->
    <section id="section-banner" class="hero-area content-left">
        <div class="banner-item" style="background-image: url(./images/hero_area/banner_hacker.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="banner-content-wrap">
                            <img class="title-shap-img" src="images/shap/title-white.png" alt="">
                            <p class="banner-info wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                                24 to 26 April
                                2020, Belgrade, Serbia
				<br>
				Opera & Theatre Madlenianum</p>
                            <h1 class="banner-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms">
                                HackBelgrade 2020
                            </h1>
                            <!-- Countdown end -->
                            <div class="banner-btn wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="800ms">
                                <a href="https://form.jotformeu.com/93125641243350" class="btn">Register</a>
                            </div>

                        </div>
                        <!-- Banner content wrap end -->
                    </div><!-- col end-->
                </div><!-- row end-->
            </div>
            <!-- Container end -->
        </div>
    </section>
    <!-- banner end-->

    <!--count down start-->
    <section class="ts-count-down">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="countdown gradient clearfix">
                        <div class="counter-item">
                            <span class="days">00</span>
                            <div class="smalltext">Days</div>
                            <b>:</b>
                        </div>
                        <div class="counter-item">
                            <span class="hours">00</span>
                            <div class="smalltext">Hours</div>
                            <b>:</b>
                        </div>
                        <div class="counter-item">
                            <span class="minutes">00</span>
                            <div class="smalltext">Minutes</div>
                            <b>:</b>
                        </div>
                        <div class="counter-item">
                            <span class="seconds">00</span>
                            <div class="smalltext">Seconds</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--count down end-->


    <!-- ts sponsors start-->
    <section class="ts-intro-outcome" style="padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-title white">
                        <span></span>
                        In collaboration with
                    </h2><!-- section title end-->
                </div><!-- col end-->
            </div><!-- row end-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <a class="sponsors-logo" href="https://heapspace.rs/en/"><img src="images/sponsors/heapspace-logo.png" alt=""></a>
                    </div><!-- sponsors logo end-->
                </div><!-- col end-->
            </div><!-- row end-->
        </div><!-- container end-->
    </section>
    <!-- ts sponsors end-->

    <section id="section-outcomes" class="ts-event-outcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="">
                        <div class="outcome-content ts-exp-content">
                            <h2 class="column-title">
                                <span>Event Outcomes</span>
                                Learn new things and
                                connect with people and companies
                            </h2>
                            <p class="text-white">
                                As a participant, you get a weekend of innovation and fun with 160 smartest
                                technologists,
                                interaction with top tech companies in the region,
                                workshops and talks by experienced professionals,
                                free food, drinks, swag and prizes!
                            </p>
                            <a href="https://form.jotformeu.com/93125641243350" class="btn">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="outcome-content">
                        <div class="outcome-img overlay">
                            <img class="" src="images/about/learn_img.jpg" alt="">
                        </div>
                        <h3 class="img-title text-white">Learn New Things</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="outcome-content">
                        <div class="outcome-img overlay">
                            <img class="" src="images/about/connect_img.jpg" alt="">
                        </div>
                        <h3 class="img-title text-white">Connect With People And Companies</h3>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- ts FAQ start-->
    <section id="section-faq" class="ts-faq-sec">
        <div class="container">
            <h2 class="section-title white">
                General FAQ's
            </h2>
            <div class="row">
                <div class="col-lg-6">
                    <div class="faq-content mb-70">
                    <div class="panel-group faq-item" id="accordion" role="tablist" aria-multiselectable="true">

                        <div class="panel faq-list panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            1. What's in it for me?
                                        </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    As a participant, you get the following:</br>
                                    - A weekend of innovation and fun with 160 smartest peers</br>
                                    - Interaction with top tech companies in the region</br>
                                    - Workshops and talks by experienced professionals (more info on that later)</br>
                                    - Free food, drinks & swag</br>
                                    - Prizes</br>

                                    If you wish to take another role (e.g. sponsor, mentor, speaker), please <a style="color: #00c1c1" href="mailto:info@hackbelgrade.com">do contact us</a>!                                    
                                </div>
                            </div>
                        </div>

                        <div class="panel faq-list panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            2. How much does it cost?
                                        </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    Nothing. Attending HackBelgrade is 100% free, and we’d like to thank our awesome sponsors who make it possible!
                                    In addition to that, you will enjoy a lot of free food and swag during the event.
                                </div>
                            </div>
                        </div>

                        <div class="panel faq-list panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="more-less glyphicon glyphicon-plus"></i>
                                            3. Do I need to be a student?
                                        </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    Only students who are currently enrolled at a high school, college, university or graduated in past 12 months are eligible to attend.
                                    However, are you interested in this event or totally excited about it? You can also be a volunteer, mentor, sponsor or judge. <a style="color: #00c1c1" href="mailto:info@hackbelgrade.com">Contact us!</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel faq-list panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            4. Is there a code of conduct?
                                            </a>
                                </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    Yes, there is. We enforce these rules very strongly. You can find it <a style="color: #00c1c1" href="/code-of-conduct.html">here</a>.  
                                </div>
                                </div>
                        </div>

                    </div><!-- panel-group -->

                    </div>
                </div><!-- col end -->
                <div class="col-lg-6">
                    <div class="faq-content mb-70">
                    <div class="panel-group faq-item" id="accordion" role="tablist" aria-multiselectable="true">

                        <div class="panel faq-list panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            5. Do I need to apply?
                                        </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">
                                    Yes. Applications will be considered on an individual basis (or within your team if you register as a team).
                                </div>
                            </div>
                        </div>

                        <div class="panel faq-list panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            6. Why do I need to provide a CV?
                                        </a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    Sponsors will have access to your CV. This is so that you can get on their radar and they can get your contact details for recruitment purposes. It’s a win-win!
                                </div>
                            </div>
                        </div>

                        <div class="panel faq-list panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                            <i class="more-less glyphicon glyphicon-plus"></i>
                                            7. Will we work in teams??
                                        </a>
                                </h4>
                            </div>
                            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    Yes, you can find a team of <strong>up to 4 people</strong>. However, if you come alone, 
                                    you can participate in our team formation event at the beginning of the hackathon, 
                                    where you can meet others with similar interests and complementary skillsets.
                                </div>
                            </div>
                        </div>
                        <div class="panel faq-list panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                            8. How can my company sponsor this event?
                                            </a>
                                </h4>
                                </div>
                                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    If you are interested in supporting the event, see 
                                    <a style="color: #00c1c1" href="#section-sponsors">Become a Sponsor</a> section!
                                </div>
                                </div>
                            </div>

                    </div><!-- panel-group -->
                    </div>
                </div><!-- col end -->
            </div><!-- row end-->
        </div><!-- container fluid end-->
    </section>
    <!-- ts FAQ end-->


    <!-- ts sponsor experience start-->
    <section id="section-sponsors" id="ts-experiences" class="ts-experiences">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 no-padding">
                    <div class="exp-img" style="background-image:url(./images/cta_img.jpg)">
                        <!-- <img class="img-fluid" src="images/cta_img.jpg" alt=""> -->
                    </div>
                </div><!-- col end-->
                <div class="col-lg-6 no-padding align-self-center wow fadeInUp" data-wow-duration="1.5s"
                     data-wow-delay="500ms">
                    <div class="ts-exp-wrap">
                        <div class="ts-exp-content">
                            <h2 class="column-title">
                                Become a Sponsor!
                            </h2>
                            <p>
                                Sponsors make it possible for us to welcome 160 students to bring their ideas to
                                life. Want to help us empower students of the tech community and to get in touch with
                                young bright minds of the industry?
                            </p>
                            <p>
                                Contact us to get to know our different sponsor packages.
                            </p>
                            <div class="general-btn text-center">
                                <a class="btn" href="https://form.jotform.com/193431751722355">Become A Sponsor</a>
                            </div>
                        </div>
                    </div>

                </div><!-- col end-->
            </div><!-- row end-->
        </div><!-- container fluid end-->
    </section>
    <!-- ts experience end-->
      
    {{ partial "footer.html" . }}


